/Builds/MacOSX/build/Debug/STILL.app
/Builds/MacOSX/build/Debug/STILL.app/Contents
/Builds/MacOSX/build/Debug/STILL.app/Contents/MacOS
/Builds/MacOSX/build/Debug/STILL.app/Contents/MacOS/STILL
/Builds/MacOSX/STILL.xcodeproj/project.xcworkspace/xcuserdata/jan.xcuserdatad/UserInterfaceState.xcuserstate
